*{
    margin:0;
}
body{
    margin:0;
    background-color:#101010;
}
.body{
    background-color:#292929;
    width:70%;
    margin:auto;
    max-width: 900px;
}
header{
    display:flex;
    background-color:#1CCCF2 ;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 50px 10px
    10px;

}
header>img{
    width: 100px;
}
header a{
    text-decoration: none;
    font-size: 25px;
    margin-right: 20px;
    color: black;
    margin-left: 30px;

}
main{
    padding: 30px 40px;
}
main h1{
    color: white;
    margin-bottom: 20px;
}

.news{
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 20px;
    color: white;
    border-bottom: 1px white solid;
    padding-bottom: 30px;
    margin-bottom: 30px;
}
.news img{
    width:55%;
}
.row{
    display: flex;
}
.game{
    display: flex;
    align-items: flex-end;
    gap: 20px;
    color: white;
}
.game img{
    width:100px;
}
.row{
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}
.club_name{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.date{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;

}
footer{
    background-color: #1CCCF2;
    display: flex;
    align-items: center;
    gap: 30px;
    
}
footer p{
    font-size: 30px;
    margin-left: 20px;

}

footer img{
    width: 60px;


}
.rumours{
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 20px;
    color: white;
    margin-bottom: 100px;
}

.rumours img{
    width:55%;
}